<mat-card appearance="outlined" *ngFor="let cardRelogio of (relogiosResponse$ | async)">
  <mat-card-header>
    <mat-card-title>{{ getCardTitle(cardRelogio) }}</mat-card-title>
  </mat-card-header>

  <mat-card-footer>
    <mat-chip-set>
    <div *ngFor="let item of cardRelogio; let i = index" aria-label="Relogio obtido" class="chip-col">
      <span *ngIf="i > 0 && i < item[0].length">{{ cardAttributesPTBR[i] }}</span>
      <mat-chip *ngIf="i > 0 && i < item[0].length">{{ item[1] }}</mat-chip>
    </div>
    </mat-chip-set>
  </mat-card-footer>
</mat-card>

<app-alert-dialog *ngIf="(count$ | async) == 0"
  [title]="'Não encontrado'"
  [content]="'Sua pesquisa não obteve sucesso. Tente novamente'"
  (onInit)="getResultsNotFound()">
</app-alert-dialog>

<br><br>
<mat-paginator *ngIf="(count$ | async) ; let count"
               #paginator
               (page)="handlePageChange($event)"
               [showFirstLastButtons]="true"
               [disabled]="false"
               [length]="(count$ | async)"
               [pageSize]="ITEMS_PER_PAGE"
               [pageIndex]="pageIdx - 1"
               aria-label="Select page">
</mat-paginator>
<br><br>
