mat-card{
  padding-top: 10px;
  padding-bottom: 10px
}
div.chip-col{
  display: flex;
  flex-direction: column;
}

mat-card-footer {
  position: relative;
  padding: 16px;

  & button{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

mat-chip-set {
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  
  & label {
    opacity: 0.4;
    font-size: small;
    color: #FFFFFF;
  }
  mat-chip{
    width:fit-content;
  }
}

