<mat-card appearance="outlined" *ngFor="let cardRelogio of (relogiosResponse$ | async)">
  <mat-card-header>
    <mat-card-title>{{ getCardTitle(cardRelogio) }}</mat-card-title>
  </mat-card-header>

  <mat-card-footer #counter>
    <mat-chip-set *ngFor="let item of cardRelogio; let i = index" aria-label="Relogio obtido" class="mat-mdc-chip-set-stacked">
      @if (i > 0 && i < item[0].length){
        <span > {{ item[0] }}</span>
        <mat-chip>{{ item[1] }}</mat-chip>
      }
      </mat-chip-set>
  </mat-card-footer>
</mat-card>

<mat-paginator #paginator
               (page)="handlePageChange($event)"
               [showFirstLastButtons]="true"
               [disabled]="!(successRes$ | async)"
               [length]="count$ | async"
               [pageSize]="2"
               [pageIndex]="pageIdx - 1"
               aria-label="Select page">
</mat-paginator>
