<h1> Minha conta</h1>
<mat-accordion> 
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> <mat-icon> person </mat-icon> </mat-panel-title>
      <mat-panel-description> Informações da conta </mat-panel-description>
    </mat-expansion-panel-header>
    <span><i>ID Usuário:</i> &nbsp;<b>{{userDataArray[0]}}</b></span><br>
    <span><i>Nome:</i> &nbsp;<b>{{userDataArray[1]}}</b></span>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> <mat-icon> favorite </mat-icon> </mat-panel-title>
      <mat-panel-description> Likes </mat-panel-description>
    </mat-expansion-panel-header>
    <span *ngFor="let titleLiked of (relogioTitles$ | async); let i = index">
      @if(titleLiked){
        <button (click)="removeFromList(titleLiked, i)" mat-icon-button>x</button>
        {{titleLiked}}
      }<br>
    </span>
  </mat-expansion-panel> 
</mat-accordion>
<br><br><br><br><br><br>