<mat-toolbar *ngIf="(loggedin$ | async) === true">
  <button mat-icon-button (click)="navigateTo('search')" [attr.ariaLabel]="'Icon-button with ' + icon + ' symbol'">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
  
  <span class="spacer"> APIJewel</span>
  <button value="submit" (click)="navigateTo('user')" mat-icon-button [attr.ariaLabel]="'Icon-button with ' + icon + ' symbol'">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-card appearance="outlined"> 
@if (!(loggedin$ | async); as notAuthenticated){
  <app-signin (toggleView)="setLoginView()" *ngIf="notAuthenticated && !signupView"></app-signin>
  <app-signup (toggleView)="setLoginView()" *ngIf="signupView"></app-signup>
} @else {
  <app-alert-dialog *ngIf="successLogin" (onInit)="alertSuccessLogin()"></app-alert-dialog>
}
</mat-card>

<router-outlet></router-outlet>


