<app-navbar></app-navbar>
<br><br>
<article>
  <h3>Class e Style binding</h3>
  <div>
      <mat-form-field>
      <mat-select #classe (change)="0">
          <mat-label style="color:aliceblue">Selecione uma classe:</mat-label>
          <mat-option value="alert-success">Sucesso</mat-option>
          <mat-option value="alert-info">Info</mat-option>
          <mat-option value="alert-warning">Warning</mat-option >
          <mat-option value="alert-danger">Erro</mat-option >
      </mat-select> 
      </mat-form-field>
      <br><br>

      <form>
        <input #submitContent (change)="getForm(submitContent)" type="text" placeholder="Pesquisar">
        <button mat-raised-button type="submit" name="action">Submit</button>
      </form>
      <div class="alert {{ classe.value }}" role="alert">Alerta </div>
      <div [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">  Campo informado não permitido</div>
      <div *ngIf="title === 'jewelAPI'">jewelAPI</div>
    </div>
</article>

<router-outlet />
