mat-card-footer {
  padding: 16px;
}

hr{
  border: 1px solid #ababab93; 
  width: 250px;
  margin: 20px 0;
  position: absolute;
  top: 0px;
}

form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;

  > * {
    margin-bottom: 5px ; 
  }

  & mat-radio-group.radio-group{
    display: flex;
    flex-direction: column;
  }
}

button{
  width: fit-content;
  align-self: flex-end;
}
