mat-card-footer {
  padding: 16px;
}

hr{
  border: 1px solid #ababab93; 
  width: 70%;
  margin: 20px 0;
  position: absolute;

}

.hr1{
  top: 0px;
}
.hr2{
  bottom: 10px;
}

span{
  font-size: small;
  position: absolute;
}

span.subheader1{
  top: 20px;
}
span.subheader2{
  bottom: -12px;
}

form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;

  > * {
    margin-bottom: 5px ; 
  }

  & mat-radio-group{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

button{
  width: fit-content;
  align-self: center;
}
