form, nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    margin-bottom: 5px ; 
  }

}

button{
  width: fit-content;
  align-self: center;
  &.primary{
    align-self: flex-end !important;
  }

}