@use 'sass:map';
@use '@angular/material' as mat;
@use './styles-theme' as theme-styled;


@include mat.core();

// Import the Material Design typography and color palettes
@import './m3-theme.scss';


:root {
  // Apply all component css dark theme by default
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);
  @include mat.typography-hierarchy($light-theme);
  @include theme-styled.theme($light-theme);

}

html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  touch-action: none;
}

app-root {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
}

mat-card {
  min-width: 250px;
  padding: 60px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;

}

a{
  text-decoration: none;
  color: inherit;
}